/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.pers_info p {
  		padding-left: 0px; 
	}
	.pers_info h3{
		font-size: 13px;
		margin-top: 60px;
	}
	.wrap_cocial{
		padding-left: 1px;
	}
	.wrap_cocial ul{
		margin: 0;
		padding: 0;
	}
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.portfolio_item  img{
		min-height:  320px;
	}
	.resume_container .left,
	.section_content .resume_container h3,
	.resume_container .resume_icon {
		text-align: left;
		margin-bottom: 10px;
	}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.top_wrapper .top_text h1 {
		font-size: 2em;
		padding-left: 0px;
		padding-right: 0px;
	}
	.my_foter .wrap_cocial{
		float: left;
		margin-top: 20px;
		width: 100%;
	}
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
}
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
}
/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
}
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}
@media all and (max-width:700px){
}